$font-family-lil: 1.8rem  normal Arial, Helvetica, sans-serif; 
$font-family-big: 2.4rem  normal Arial, Helvetica, sans-serif; 

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}   
.loader{
    font-size: 4rem;
    font-family: $font-family-lil;
}

