@import "global-styles";

.pagination {
    width: 20%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    .pagination__number {
        list-style-type: none;
        border: .1rem solid black;
        font: $font-family-lil;
        width: 3rem;
        height: 3rem;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        transition: .1s ease-in-out;
    }

    .pagination__number:hover {
        border-radius: 1rem;
        background-color: black;
        color: white;
    }
}

@media screen and (min-width: 521px) and (max-width: 915px){
    
    .pagination {
        width: 40%;
    }
}
@media screen and (max-width: 520px){
    .pagination {
        width: 60%;
    }
}